!!!
%html
  %head
    %title= full_title(yield(:title))
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = analytics_init if Rails.env.production?
  %body
    = render 'layouts/header'
    .container
      = yield
      = render 'layouts/footer'
